:root {
    --cube-width-height: 300px;
    --cube-width-height-half: 150px;
}

button {
    height: 50px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

#mainDiv {
    width: 550px;
    height: 550px;
    margin: 20px auto;
    background-color: #EEE;
}
#cubeDiv {
    width: var(--cube-width-height);
    height: var(--cube-width-height);
    top: 80px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-25deg) rotateY(-40deg) rotateZ(0deg);
    -moz-transform: rotateX(-25deg) rotateY(-40deg) rotateZ(0deg);
    -webkit-transform: rotateX(-25deg) rotateY(-40deg) rotateZ(0deg);
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#cubeDiv > div {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: var(--cube-width-height);
    height: var(--cube-width-height);
    float: left;
    overflow: hidden;
    opacity: 0.85;
}
#side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    background-color: #FFF;
}
#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    background-color: #ffaf1c;
}
#side3 {
    transform: translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -moz-transform: translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -webkit-transform: translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    background-color: #58d568;
}
#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    background-color: #ed3030;
}
#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    background-color: #1c5ffe;
}
#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(var(--cube-width-height-half));
    background-color: #f2f215;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
  }
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}